body {
  margin-top: 70px;

  background-color: #d4dbe4;
  text-align: center;
}
h1 {
  color: #6f6c70;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.contact-us-heading {
  color: #6f6c70;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-size: 24px;
}
img {
  max-width: 300px;
  border: 10px solid white;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #d77a27;
}
a:hover {
  font-size: 22px;
  color: #97041d;
  transition: 2ms;
}
p {
  text-align: start;
  padding-bottom: 30px;
  line-height: 1.5;
}
.container {
  max-width: 700px;
  background-color: #edf4fc;
  padding: 30px;
  border-radius: 15px;
  margin: auto;
}

.image {
  display: flex;
  justify-content: center;
}

.guidances {
  display: flex;
  justify-content: space-around;
}
